body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

header {
    border-bottom: 2px solid #d4af37; /* Dorado LIONS-GOLD */
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.card {
    background: #262626;
    border-left: 5px solid #d4af37;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vendido {
    opacity: 0.5;
    border-left-color: #ff0000;
}

button {
    background-color: #d4af37;
    border: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover { background-color: #fff; }
